* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: brown;
    color:antiquewhite;
    display: flex;
    flex-direction: column;
}

table {
    border-spacing: 10px;
}

#addBook {
    padding: 5px 25px;
    margin: 10px auto;
}

.hero-text {
    margin: 15px auto;
}

.lib-table {
    margin: 15px auto;
    border-radius: 5px;
    background-color: rgb(190, 71, 71);
}

.aligned-right {
    text-align: right;
}

.aligned-center {
    text-align: center;
}